.nav {
    padding-left: 9vw;
    padding-right: 9vw;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .menu {
    margin-left: auto;
  }
  
  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    list-style-type: none;
    margin: 0 1rem;
  }

  .menu li a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display: block;
    width: 100%;
  }