@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat&display=swap');

@font-face {
  font-family: 'PRSNT WIP077';
  src: url('styles/fonts/PRSNTWIP077-Heavy.eot');
  src: local('PRSNT WIP077 Heavy'), local('PRSNTWIP077-Heavy'),
      url('styles/fonts/PRSNTWIP077-Heavy.eot?#iefix') format('embedded-opentype'),
      url('styles/fonts/PRSNTWIP077-Heavy.woff2') format('woff2'),
      url('styles/fonts/PRSNTWIP077-Heavy.woff') format('woff'),
      url('styles/fonts/PRSNTWIP077-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PRSNT WIP077';
  src: url('styles/fonts/PRSNTWIP077-Regular.eot');
  src: local('PRSNT WIP077 Regular'), local('PRSNTWIP077-Regular'),
      url('styles/fonts/PRSNTWIP077-Regular.eot?#iefix') format('embedded-opentype'),
      url('styles/fonts/PRSNTWIP077-Regular.woff2') format('woff2'),
      url('styles/fonts/PRSNTWIP077-Regular.woff') format('woff'),
      url('styles/fonts/PRSNTWIP077-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PRSNT WIP077';
  src: url('styles/fonts/PRSNTWIP077-Bold.eot');
  src: local('PRSNT WIP077 Bold'), local('PRSNTWIP077-Bold'),
      url('styles/fonts/PRSNTWIP077-Bold.eot?#iefix') format('embedded-opentype'),
      url('styles/fonts/PRSNTWIP077-Bold.woff2') format('woff2'),
      url('styles/fonts/PRSNTWIP077-Bold.woff') format('woff'),
      url('styles/fonts/PRSNTWIP077-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PRSNT WIP077';
  src: url('styles/fonts/PRSNTWIP077-Medium.eot');
  src: local('PRSNT WIP077 Medium'), local('PRSNTWIP077-Medium'),
      url('styles/fonts/PRSNTWIP077-Medium.eot?#iefix') format('embedded-opentype'),
      url('styles/fonts/PRSNTWIP077-Medium.woff2') format('woff2'),
      url('styles/fonts/PRSNTWIP077-Medium.woff') format('woff'),
      url('styles/fonts/PRSNTWIP077-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--background-colour);
}

h1 {
  font-family: 'PRSNT WIP077';
  font-style: normal;
  font-weight: 500;
  font-size: 5.5rem;
  letter-spacing: -0.05em;
  color: var(--primary-text-colour);
  padding: 0;
  margin: 0;
}

h2, h3 {
  font-family: 'Michroma', sans-serif;
  font-style: normal;
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: 0.15em;
  color: var(--primary-text-colour);
}

h3 {
  font-size: 1.5rem;
  color: var(--secondary-text-colour);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--primary-text-colour);
}
