@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:wght@500&display=swap');

.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #FFF9F2 0%, #F5ECE3 60.4%, #ECE0D7 80.36%, #E3D5CA 100.85%);
}